*{
    margin:0%;
    padding: 0%;
}



body{
    width: 100vw;
    height: 100vh;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    
    overflow: hidden;
    
}

.box{
    width: 12vh;
    height: 12vh;
    
}




.boxes{
    height: 45vh;
    width: 45vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* border: 1px solid black; */

}

.container{
    

}
.box{
    border:none;
    background-color:#72A98F;
    border-radius: 10px;
    color: #433A3F;
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
}

.text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin: 20px;
}


.resetBtn{
    margin: 30px;
    border: none;
    background-color: #3D5A6C;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    color: #ffffff;
}


.newGame{
    margin: 30px;
    border: none;
    background-color: #3D5A6C;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    color: #ffffff;
}

.showWinner{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide{
    display: none;
}


.showDrawMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hide2{
    display: none;
}

.newGameDraw{
    margin: 30px;
    border: none;
    background-color: #3D5A6C;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    color: #ffffff;
}